<%= form_for [gallery, image] do |form| %>
  <div>
    <ul>
      <% image.errors.full_messages.each do |error_message| %>
        <li>
          <%= error_message %>
        </li>
      <% end %>
    </ul>
  </div>
  <div>
    <%= form.label :name, "Image Name"%>
    <%= form.text_field :name%>
  </div>
  <div>
    <%= form.label :description, "Description"%>
    <%= form.text_area :description%>
  </div>
  <div>
    <%= form.label :url, "Image URL"%>
    <%= form.text_field :url%>
  </div>
  <div>
    <%= form.collection_check_boxes :group_ids, current_user.groups, :id, :name %>
  </div>
  <div>
  <%= form.submit %>
  </div>
<% end %>
