<h1><%= @image.name.capitalize %> Page</h1>

<div>
<%= link_to "Edit #{@image.name}", edit_gallery_image_path(@gallery, @image)%>
</div>
<div>
  <%= link_to "Delete #{@image.name}", gallery_image_path(@gallery, @image), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
<div>
  <%= link_to "Gallery #{@gallery.name}", gallery_path(@gallery) %>
</div>
<br>
<div>
  <%= image_tag @image.url, width:"300" %>
</div>

<div>
  <p></p>
</div>

<% if current_user.liked_images.include? @image %>
  <%= button_to "Dislike", image_like_path(@image), method: :delete %>
<% else %>
  <%= button_to "Like", image_like_path(@image) %>
<% end %>
<div>
  <p>Likes: <%= @image.likes.count %> </p>
</div>
<div>
  <ul>
    <% @image.tags.each do |tag| %>
      <li>
      <%= link_to tag.name, tag_path(tag.name) %>
      </li>
    <% end %>
  </ul>
</div>


<div>
  <%= form_for [@image, @comment] do |f| %>
    <%= f.label :content, "Comment"%>
    <%= f.text_field :content %>
    <%= f.submit "Enter Comment" %>
  <% end %>
</div> 

<div>
  <p></p>
</div>
  <%= render @image.comments.by_most_recent  %>
